#content {
    width: 1700px;
    display: flex;
    justify-content: space-between;
    align-items: top;
}

#chart-area {
    width: 900px;
    margin: 0 200px 0 100px;
}

#chart-content {
    width: 900px;
    height: 1500px;
    padding-top: 10px;
}

#scale {
    width: 900px;
    height: 20px;
}

#grouped-checkbox{
    margin-left: 30px;
}

/* #chart-content {
    width: 900px;
}

.chart {
    width: 900px;
    height: 250px;
} */

/* TABLE STYLING */

.table-content {
    width: 800px;
    /* margin: auto; */
}

td:first-of-type {
    text-align: left;
}

td {
    text-align: center;
    /* vertical-align: center; */
    color:black;
    /* line-height: 0; */
    font-size: 12px;
}


