#content {
    margin: auto;
    width: 1550px;
    display: flex;
    justify-content: space-between;
}

#chart-area {
    width: 900px;
}

#scale {
    width: 900px;
    height: 20px;
}

#grouped-checkbox{
    margin-left: 30px;
}

/* #chart-content {
    width: 900px;
}

.chart {
    width: 900px;
    height: 250px;
} */

/* TABLE STYLING */

.table-content {
    width: 600px;
}
